@model JournalControlWebApp.Models.ViewModel.ChangePasswordViewModel

@{
    ViewData["Title"] = "Изменить пароль";
}

<h4>Изменение пароля</h4>
<h6>При первом входе в систему вам необходимо изменить пароль</h6>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post" asp-action="SetPassword" asp-route-returnUrl="@Model.ReturnURL">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input asp-for="Id" type="hidden" />
            <div class="form-group">
                <label asp-for="Login" class="control-label"></label>
                <input asp-for="Login" class="form-control" readonly/>
                <span asp-validation-for="Login" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NewPassword" class="control-label"></label>
                <input asp-for="NewPassword" class="form-control" />
                <span asp-validation-for="NewPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ValidatePassword" class="control-label"></label>
                <input asp-for="ValidatePassword" class="form-control" />
                <span asp-validation-for="ValidatePassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Изменить пароль" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
